@import "~@fortawesome/fontawesome-free/css/all.min.css";



@import "~bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/bootstrap";


body {
  background-color: rgb(66, 80, 137);
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 100px;
}

.navbar {
  margin-top: -100px;
  margin-bottom: 20px;
}

.filter-btns {
  margin-bottom: 20px;
}

.card {
  margin-bottom: 10px;
}

.crd {
  margin: 0px, 0px, 0px;
}

.submit-btn {
  margin-top: 10px;
}

// .card {
//   margin: 10px;
// }
